h5{
    text-transform: uppercase;
    font-weight: 600 !important;
}
.loading{
    width: 100% !important;
    height: 100%;
    background: #fff url(https://static.livup.us/_next/static/img/loading.gif) 50% no-repeat!important;
}
