<!-- Modal -->
<app-modal></app-modal>

{{ infoComida.description }}

<!--Feed de comidas -->
<div class="feed">
    <div class="row pr-0 pl-0 ml-0 mr-0">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-5" *ngFor="let produto of comidas">
            <div class="card" style="width: 100%; height: 100%">
                <div class="card-body">
                    <a class="card-title" [innerText]="produto.description"></a>
                    <p class="card-text">
                        Porção de <span [innerText]="produto.base_qty"></span>
                        <span [innerText]="produto.base_unit"></span>
                    </p>
                    <hr>
                    <button type="button" class="btn btn-info btn-sm text-white" data-toggle="modal"
                        data-target="#produtoModal" id="{{ produto.id }}" (click)="getInfoFood($event)">
                        Detalhes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>