.food {
  a:first-child {
    color: #008b8b !important;
    font-weight: 600 !important;
  }
  p {
    font-size: 0.8em;
    color: #555;
  }
}

.modal {
  h5:first-child {
    color: #008b8b !important;
    font-weight: 600 !important;
  }
  p {
    font-size: 0.8em;
    color: #555;
  }
}

.modal{
  h5{
    color: #008b8b !important;
  }
  p{
    font-size: 0.8em;
    color: #555;
  }
}