<!-- Card resumo dos produtos -->
<div class="card content-resumo-produtos mb-5">
    <div class="card-body">
        <h5 class="card-title">Principais categorias de produtos</h5>
        <hr>
        <div class="row mt-4">
            <div class="col-md-4">
                <span class="tag-atencao ">Atenção</span>
                <p class="indicador indicador-atencao mb-0">1000</p>
                <p>Gorduras</p>
            </div>
            <div class="col-md-4 mt-4">
                <p class="indicador indicador-alerta mb-0">1000</p>
                <p>Proteinas</p>
            </div>
            <div class="col-md-4 mt-4">
                <p class="indicador indicador-alerta mb-0">1000</p>
                <p>Cardoibratos</p>
            </div>
        </div>
    </div>
</div>